.App-header{
    padding: 10px;
    padding-left: 15px;
    box-shadow: 1px 1px 2px 2px gray;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 0px 2px 2px gray;
}