.App {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%
}

.App-header {
    padding: 10px;
    padding-left: 15px;
    box-shadow: 1px 1px 2px 2px gray;
}

.card {
    cursor: pointer;
    width: 220px;
    height: 250px;
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    border: 4px solid whitesmoke;
    transition: 400ms;
}

.card{
    box-shadow: 1px 1px 2px 2px #c5c4c3;
}

.card:hover {
    box-shadow: 1px 1px 4px 4px #c5c4c3;
}

.cards-container {
    margin-top: 5%;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-content {
    border-radius: 5px;
    padding: 15px 10px;
    filter: blur(0) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 480px;
    z-index: 5;
    overflow-x: hidden;
    background-color: blanchedalmond;
}

.card-close {
    cursor: pointer;
    position: sticky;
    top: 0.1%;
    left: 85%;
    border: none;
    padding: 0;
    background: none;
}

.card-details {
    white-space: pre-line;
    margin: 20px;
    overflow-wrap: break-word
}

.card-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.close-icon {
    width: 40px
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    box-shadow: 1px 0px 2px 2px gray;
    background-color: inherit;
    z-index: 1;
}

main {
    padding-top: 50px;
    z-index: 0;
}

select {
    padding: 10px;
    border-radius: 5px;
    background-color: inherit;
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(60, 59, 59);
    opacity: 0.7;
    z-index: 1;
}

@media screen and (min-width: 340px) {
    .card-close {
        left: 93%;
    }
}

@media screen and (min-width: 500px) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 680px) {
    .card-content {
        width: 580px;
    }
}